<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <blockquote>
            <%- include('./profileHeader.ejs')%>
            <h3>Home</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia unde reprehenderit exercitationem sint ullam natus dicta eveniet recusandae repudiandae rem aliquam nemo vitae deleniti, quis perferendis corrupti est, autem suscipit at quas quaerat et amet! Excepturi aut laboriosam commodi corrupti repellat aliquam. Officiis pariatur laudantium ut at soluta inventore asperiores minima libero quae, minus voluptates, nam excepturi repellat! Magnam commodi cupiditate rerum animi nulla officiis excepturi debitis laborum ipsam. Quisquam vitae unde quaerat quidem aspernatur asperiores ipsa eos! Vero quas exercitationem excepturi a quibusdam veritatis odio. Nam fugit delectus nostrum corporis? Accusamus a omnis dicta eaque rerum animi, rem illo?</p>
        </blockquote>
</body>
</html>