<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <blockquote>
            <%- include('./profileHeader.ejs')%>
            <h3>LoginForm</h3>
            <h3><%=message%></h3>
            <p>
                <form action="/user/login" method="post">
                    <input
                        type="email"
                        name="email"
                        placeholder="Enter email"
                        id="email"
                        required
                    > <br>
                    <input
                        type="password"
                        name="password"
                        placeholder="Enter password"
                        id="password"
                        required
                    > <br>
                    <input
                        type="submit"
                        value="submit"
                    ><input
                        type="reset"
                        value="reset"
                    > <br>

                </form>    
            </p>
        </blockquote>

</body>
</html>