           <h2>Mail Sending + Image Upload Example</h2>
    <hr>
        <a href="/">Home</a>    |   
        <a href="/login">Login</a>    |   
        <a href="/registration">Registration</a>    
        <hr>