<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <blockquote>
            <%- include('./profileHeaderNew.ejs')%>
            <h3>Welcome <%=email%></h3>
            <h2>List</h2>
            <table>
                <tr>
                    <th>S.No</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>UploadedAt</th>
                    <th>UploadedOn</th>
                    <th>Image</th>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </blockquote>
</body>
</html>