<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Example of Mongodb with NodeJS</h2>
    <!-- <form action="/viewInfo" method="get"> -->
    <form action="/viewPostInfo" method="post">
        <input
            type="text"
            placeholder="Enter Name"
            name="name"
            id="name"
        > <br>
        <input
            type="text"
            placeholder="Enter Age"
            name="age"
            id="age"
        > <br>
        <input
            type="text"
            placeholder="Enter Address"
            name="address"
            id="address"
        > <br>
        <input
            type="submit"
            value="Submit"
        >
        <input
            type="reset"
            value="Reset"
        ><br>
    </form>
</body>
</html>