<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Example of Sequelize</h2>
    <hr>
    <a href="/">Home</a>    |   
    <a href="/student/addStudent">Add Student</a>   |   
    <a href="/student/loginStudent">Login Student</a>   |   
    
    <hr>
    <blockquote>
        <p>
            <h2>Home</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illo odio mollitia ipsa repellat eum laborum sint sed soluta iste exercitationem suscipit? Fugit, velit natus sint rerum eveniet blanditiis sequi optio minus obcaecati, hic accusamus, necessitatibus fugiat in numquam totam enim consectetur similique. Nisi sint quae cum, reiciendis sequi eius voluptatem commodi non est facere nostrum adipisci labore eos? Suscipit voluptatibus dicta nam quaerat, non tenetur quam harum, officiis debitis obcaecati temporibus, eius iusto dignissimos.
            </p>
        </p>
    </blockquote>
</body>
</html>