<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <blockquote>
        <h2>Example of MYSQL with ExpressJs  </h2>
        <%- include('./header.ejs') %>
        <h3>Home Page</h3>
        <p style="text-align:justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque optio delectus obcaecati? Aliquam totam dolore eveniet quis commodi temporibus quibusdam reiciendis iste saepe, aliquid numquam! Harum qui eum pariatur sapiente, distinctio similique dolor voluptatum earum eveniet ipsa dicta excepturi beatae veritatis culpa ea, nesciunt maxime cum praesentium. Laboriosam ducimus inventore tempore ea quos minus recusandae nam provident blanditiis quae.
        </p>
    </blockquote>
</body>
</html>