           <h2>Mail Sending + Image Upload Example</h2>
    <hr>
        <a href="/user/profile">Home</a>    |   
        <a href="/user/uploadImage">Upload</a>  |
        <a href="/user/viewImages">ViewImages</a>  
    <hr>