<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Example of JWT</h2></center>
    <hr width="400">
        <a href="/">Home</a> |
        <a href="/user/login">Login</a> |
        <a href="/user/register">Register</a> 
    <hr width="400">
    <h2>Home Page</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe temporibus quibusdam accusamus libero excepturi, dolorum ducimus natus itaque mollitia architecto suscipit eveniet molestiae sint! Alias porro exercitationem, voluptas eius omnis nihil asperiores ut, libero consequuntur consectetur dolor! Voluptatem, suscipit fugiat. Vel minus vero harum porro, minima nam. Ut, facere blanditiis?
    </p>
</body>
</html>