<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Express Validator</h2>
        <hr width="300">
            <a href="/">Home</a> |  
            <a href="/register">Register</a>
        <hr width="300">
    </center>
    <blockquote>
        <h2>Home</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium nulla commodi ullam excepturi vitae dolore, modi ducimus blanditiis voluptate culpa, ad fugit accusantium nobis pariatur non accusamus perspiciatis numquam, similique inventore aspernatur neque? Adipisci non et, ab ex animi temporibus rem provident earum placeat nostrum ad totam nisi inventore vero.</p>
    </blockquote>
</body>
</html>