<div id="box">
            <h2>Gallery Section</h2>
            <div id="box1">
                <img src="images/banner.jpg" id="boxImage" alt="biscuit images">
                <h3>Cookie #1</h3>
                <p>Lorem ipsum dolor sit amet  elit.  Qui ut quas cupiditate Qui ut quas cupiditate totam error numquam .</p>
            </div>
            <div id="box2">
                <img src="images/banner.jpg" id="boxImage" alt="biscuit images">
                <h3>Cookie #2</h3>
                <p>Lorem ipsum dolor sit amet  elit.  Qui ut quas cupiditate Qui ut quas cupiditate totam error numquam .</p>
            </div>
            <div id="box3">
                <img src="images/banner.jpg" id="boxImage" alt="biscuit images">
                <h3>Cookie #3</h3>
                <p>Lorem ipsum dolor sit amet  elit.  Qui ut quas cupiditate Qui ut quas cupiditate totam error numquam .</p>
            </div>
            <div id="box4">
                <img src="images/banner.jpg" id="boxImage" alt="biscuit images">
                <h3>Cookie #4</h3>
                <p>Lorem ipsum dolor sit amet  elit.  Qui ut quas cupiditate Qui ut quas cupiditate totam error numquam .</p>
            </div>
        </div>
        